:root {
    --primary-color: #037973;
    --secondary-color: #f0e9ed;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}
h1 {
    font-size: 96px;
}
h2 {
    font-size: 48px;
}
h1, h2, h3 {
    text-align: center;
    margin: 0;
}
h3 {
    font-size: 24px;
    opacity: 0.7;
}
.about-paragraphs p {
    margin: 10px;
}
body {
    margin: 60px auto;
    max-width: 800px;
}
p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}
.about-paragraphs {
    display: flex;
    margin: 30px 0;
}
.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}
div {
    display: block;
}